.main-header{
height: 300px;
padding-top: 100px;
/* background-color:aqua; */
background-image: url(./../assers/img/Снимок\ экрана_28-1-2025_112012_static.wikia.nocookie.net.jpeg), 
linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(192,244,255,1) 35%, rgba(0,212,255,1) 100%);
background-repeat: repeat-x, no-repeat;
background-position: 0 120px;
}
main{
    margin-top: -140px;
}
.main-wrapper{
    min-width: 720px;
    width: 45%;
    margin: auto;
}
.menu-main{
list-style: none;
margin: 0;
}
.menu-main-item{
    display: inline-block;
    margin: 0 1.2em;

}
.menu-main-item>a{
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    
}

.menu-main-item>a:hover{
    text-decoration: underline;
}